* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.header {
    grid-column: 2 / 3;
    padding: 10px 24px;
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.2);
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    flex: 2;
    display: flex;
    align-items: center;
    gap: 10px;
}

.search input {
    background-color: #E2E8F0;
    border-radius: 12px;
    border: none;
    height: 28px;
    width: max(calc(100% - 160px), 100px);
}

.header-top-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-pic {
    border-radius: 100%;
}

.admin-name {
    font-weight: bold;
    font-size: 1.1rem;
}

.header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.header-bottom-left {
    display: flex;
    align-items: center;
    gap: 16px;
    font-weight: bold;
    font-size: 0.7rem;
}

.header-bottom-left span {
    font-size: 1.2rem;
}

.header-bottom-right {
    display: flex;
    gap: 16px;
}

.header-bottom-right button {
    color: white;
    background-color: #1992D4;
    font-size: 1rem;
    border: none;
    width: 100px;
    padding: 8px 0px;
    border-radius: 20px;
}

.main-content {
    grid-column: 2 / 3;
}
